<!DOCTYPE html>
<!--
	Forty by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

{% include head.html %}

<body>

    {% include header.html %} 
    
    
<!-- Main -->
<div id="main" class="alt">

<!-- One -->
<section id="one">
	<div class="inner">
		<header class="major">
			<h1>{{ page.title }}</h1>
		</header>
		<span class="image main"><img src="{{ site.baseurl }}/{{ page.image }}" alt="" /></span>
		<p>{{ content }}</p>
	</div>
</section>

</div>

    {% include footer.html %}

</body>

</html>